@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Merryweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/merriweather-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
 }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 0 20px;
}

.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("../img/svg/logo.svg");
  background-size: contain;
  transition: background-image 0.2s linear;
}

.logo:hover {
  background-image: url("../img/svg/logo_hover.svg");
}


.nav {
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color:#FFF;
  text-decoration: none;
  transition: color 0.2s linear;
}

.nav_link:hover {
  color: #BDAE82;
}

.default-language {
  color: #BDAE82;
}

.intro {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
}

.hero {
  width: 100%;
  max-width: 500px;
  max-height: 330px;
  padding-top: 250px;
  padding-left: 80px;
}

.hero-title{
  color: #FFF;
  font-family: Merriweather, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
}

.hero-text{
  color: #FFF;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.hero-button{
  text-decoration: none;
  padding: 7.5px 72.5px;
  background: #BDAE82;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
}

.intro-btn-text{
  color: #000;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  transition: color 0.2s linear;
}

.intro-btn-text:hover{
  color: #ffffff;

}

.section-skills {
  width: 100%;
  background-color: #000000;
  padding: 100px 20px 0 20px;
}

.skills-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDAE82;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  position: relative;
}

.skills-title:before,
.skills-title:after {
  content: "";
  color: #BDAE82;
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid #BDAE82;
  width: 15%;
}

.skills-items {
  display: flex;
  width: 100%;
  padding-top: 60px;
  justify-content: flex-end;
  align-items: center;
}

.skills-item {
  width: 40%;
}

.skills-item-icon{
  display: flex;
  justify-content: center;
}

.skills-item-title {
  padding: 50px 20px 0 20px;
  text-align: center;
  color: #FFF;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.skills-item-subtitle {
  padding: 20px 20px 0 20px;
  color: #FFF;
  text-align: center;
  font-family: Inter, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.section-portfolio {
  width: 100%;
  background-color: #000000;
  padding: 100px 20px 0 20px;
}

.portfolio-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDAE82;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  position: relative;
}

.portfolio-title:before,
.portfolio-title:after {
  content: "";
  color: #BDAE82;
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid #BDAE82;
  width: 15%;
}

.portfolio-buttons {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

}

.portfolio-button{
  text-decoration: none;
  width: 15%;
  padding: 7.5px 0 7.5px 0;
  border: 2px solid #BDAE82;
  display: inline-block;
}

.portfolio-button:nth-child(4) {
  background-color: #bdae82;
}

.portfolio-btn-text{
  color: #BDAE82;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  transition: color 0.2s linear;
}

.portfolio-button:nth-child(4) .portfolio-btn-text  {
  color: #000000;
}

.portfolio-btn-text:hover {
  color: #ffffff;
}

.portfolio-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.portfolio-photo {
  position: relative;
}

.portfolio-photo img {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-photo:before {
  content: "";
  display: block;
}

.section-video {
  width: 100%;
  background-color: #000000;
  padding: 100px 20px 0 20px;
}
.video-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDAE82;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  position: relative;
}

.video-title:before,
.video-title:after {
  content: "";
  color: #BDAE82;
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid #BDAE82;
  width: 15%;
}

.video-image{
  padding-top: 60px;
  position: relative;
}
.video-image img {
  width: 100%;
  pointer-events: none;
}

.video-image:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/svg/play_nohover.svg");
  width: 50px;
  height: 50px;
  display: block;
  background-size: cover;
  cursor: pointer;
  pointer-events: auto;
}

.video-image:hover::before {
  background-image: url("../img/svg/play_hover.svg");
}

.section-price {
  width: 100%;
  background-color: #000000;
  padding: 100px 20px 0 20px;
}

.price-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDAE82;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  position: relative;
}

.price-title:before,
.price-title:after {
  content: "";
  color: #BDAE82;
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid #BDAE82;
  width: 15%;
}

.price-items {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.price-item {
  width: 30%;
  text-align: center;
  border: 3px solid #BDAE82;

}

.price-item-title {
  padding-top: 43px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.price-item-price {
  padding: 20px 0 20px 0;
  width: 100%;
  color: #BDAE82;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.price-item-text {
  width: 100%;
  padding: 20px 20px 0 20px;
  color: #FFF;
  text-align: center;
  font-family: Inter, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.price-item-btn {
  width: 100%;
  text-align: center;
  padding: 40px 30px 40px 30px;
}

.price-btn {
  text-decoration: none;
  width: 100%;
  padding: 7.5px 0 7.5px 0;
  display: inline-block;
  background: #BDAE82;
}

.price-btn-text {
  color: #000;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  transition: color 0.2s linear;
}

.price-btn-text:hover {
  color: #ffffff;
}

.contact {
  width: 100%;
  height: 100vh;
  background: url("../img/contactbg.jpg") center no-repeat;
  background-size: cover;
}

.contact-container {
  width: 100%;
  padding: 5% 1% 10% 68%
}

.contact-title {
  width: 100%;
  color: #BDAE82;
  font-family: Merriweather, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  padding-bottom: 20px;
}

#email {
  width: 100%;
  padding-left: 15px;
  padding-right: 0;
  background: transparent;
  border: 2px solid #BDAE82;
  color: #BDAE82;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
#email::placeholder {
  color: #BDAE82;
}

#phone {
  width: 100%;
  padding-left: 15px;
  padding-right: 0;
  background: transparent;
  border: 2px solid #BDAE82;
  color: #BDAE82;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

#phone::placeholder {
  color: #BDAE82;
}

#message {
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  border: 2px solid #BDAE82;
  color: #BDAE82;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  min-height: 80px;
  margin-bottom: 20px;
  resize: none;
}

#message::placeholder {
  color: #BDAE82;
}

.contact-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 7.5px 0 7.5px 0;
  background: #BDAE82;
}

.contact-btn-text {
  color: #000;
  text-align: center;
  font-family: Inter, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 40px;
  transition: color 0.2s linear;
}

.contact-btn-text:hover {
  color: #ffffff;
}

.footer {
  width: 100%;
  background: black;
}

.footer-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 50px 20px;
}

.copyright {
  display: flex;
  width: 20%;
  align-items: center;
}

.copyright-text {
  padding-left: 0;
  padding-right: 20px;
  color: #FFF;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.about {
  display: flex;
  width: 20%;
  align-items: center;
  color: #FFF;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.soc-links {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0;
}


#inst-link:hover img {
  content: url("../img/svg/insthover.svg");
}

#fb-link:hover img {
  content: url("../img/svg/fbhover.svg");
}

#tw-link:hover img {
  content: url("../img/svg/twhover.svg");
}

#pinterest-link:hover img {
  content: url("../img/svg/pinteresthover.svg");
}

.logo img {
  transition: transform 0.3s ease-in-out; /* добавляем плавный переход для эффекта масштабирования */
}

.logo img:hover {
  transform: scale(1.2); /* масштабирование на 1.2 при наведении */
}

#inst-link img,
#fb-link img,
#tw-link img,
#pinterest-link img {
  transition: transform 0.3s ease-in-out; /* добавляем плавный переход для эффекта масштабирования */
}

#inst-link:hover img,
#fb-link:hover img,
#tw-link:hover img,
#pinterest-link:hover img {
  transform: scale(1.2); /* масштабирование на 1.2 при наведении */
}

