/* Mixins for colors */
@mixin primary-colors {
  color: #BDAE82;
}

@mixin secondary-colors {
  color: #FFF;
}

/* Mixins for fonts */
@mixin font-inter {
  font-family: 'Inter', serif;
}

@mixin font-merriweather {
  font-family: 'Merriweather', serif;
}

/* Font faces */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/merriweather-v30-latin-700.woff2') format('woff2');
}

/* Global styles */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Header styles */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 0 20px;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 50px;
    height: 45px;
    background-image: url("../img/svg/logo.svg");
    transition: background-image 0.2s linear;

    &:hover {
      background-image: url("../img/svg/logo_hover.svg");
    }
  }

  .nav {
    @include font-inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;

    .nav_link {
      display: inline-block;
      vertical-align: top;
      margin: 0 15px;
      @include secondary-colors;
      text-decoration: none;
      transition: color 0.2s linear;

      &:hover {
        @include primary-colors;
      }
    }

    .default-language {
      @include primary-colors;
    }
  }
}

/* Intro section styles */
.intro {
  width: 100%;
  height: 100vh;
  background: url("../img/jpg/background.jpg") center no-repeat;
  background-size: cover;
}

.hero {
  width: 100%;
  max-width: 500px;
  max-height: 330px;
  padding-top: 250px;
  padding-left: 80px;

  .hero-title {
    @include secondary-colors;
    @include font-merriweather;
    font-size: 60px;
    font-weight: 700;
    line-height: 120px;
  }

  .hero-text {
    @include secondary-colors;
    @include font-inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
  }

  .hero-button {
    text-decoration: none;
    padding: 7.5px 72.5px;
    background: #BDAE82;
    display: flex;
    width: 220px;
    height: 55px;
    margin-top: 25px;

    .intro-btn-text {
      color: #000;
      text-align: center;
      @include font-inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      transition: color 0.2s linear;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

/* Skills section styles */
.section-skills {
  width: 100%;
  background-color: #000000;
  padding: 100px 20px 0 20px;

  .skills-title {
    display: flex;
    align-items: center;
    justify-content: center;
    @include primary-colors;
    text-align: center;
    @include font-merriweather;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    position: relative;

    &:before,
    &:after {
      content: "";
      @include primary-colors;
      display: inline-block;
      margin: 0 10px;
      border-bottom: 2px solid #BDAE82;
      width: 15%;
    }
  }

  .skills-items {
    display: flex;
    width: 100%;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .skills-item {
    width: 320px;
    height: 240px;

    .skills-item-icon {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }

    .skills-item-title {
      padding: 50px 20px 0 20px;
      text-align: center;
      @include secondary-colors;
      @include font-inter;
      font-size: 20px;
      font-weight: 700;
      line-height: 40px;
    }

    .skills-item-subtitle {
      padding: 20px 20px 0 20px;
      @include secondary-colors;
      text-align: center;
      @include font-inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
    }
  }
}

/* Portfolio section styles */
.section-portfolio {
  width: 100%;
  background-color: #000000;
  padding: 100px 20px 0 20px;

  .portfolio-title {
    display: flex;
    align-items: center;
    justify-content: center;
    @include primary-colors;
    text-align: center;
    @include font-merriweather;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    position: relative;

    &:before,
    &:after {
      content: "";
      @include primary-colors;
      display: inline-block;
      margin: 0 10px;
      border-bottom: 2px solid #BDAE82;
      width: 15%;
    }
  }

  .portfolio-buttons {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    .portfolio-button {
      text-decoration: none;
      width: 220px;
      height: 55px;
      padding: 7.5px 0 7.5px 0;
      border: 2px solid #BDAE82;
      display: inline-block;

      &:nth-child(4) {
        background-color: #bdae82;
      }

      .portfolio-btn-text {
        @include primary-colors;
        text-align: center;
        @include font-inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        transition: color 0.2s linear;

        &:hover {
          color: #ffffff;
        }
      }

      &:nth-child(4) .portfolio-btn-text {
        color: #000000;
      }
    }
  }

  .portfolio-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

    .portfolio-photo {
      position: relative;

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      &:before {
        content: "";
        display: block;
      }
    }
  }
}

/* Video section styles */
.section-video {
  width: 100%;
  background-color: #000000;
  padding: 100px 20px 0 20px;

  .video-title {
    display: flex;
    align-items: center;
    justify-content: center;
    @include primary-colors;
    text-align: center;
    @include font-merriweather;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    position: relative;

    &:before,
    &:after {
      content: "";
      @include primary-colors;
      display: inline-block;
      margin: 0 10px;
      border-bottom: 2px solid #BDAE82;
      width: 15%;
    }
  }

  .video-image {
    padding-top: 60px;
    position: relative;

    img {
      width: 100%;
      pointer-events: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../img/svg/play_nohover.svg");
      width: 50px;
      height: 50px;
      display: block;
      background-size: cover;
      cursor: pointer;
      pointer-events: auto;
    }

    &:hover::before {
      background-image: url("../img/svg/play_hover.svg");
    }
  }
}

/* Price section styles */
.section-price {
  width: 100%;
  background-color: #000000;
  padding: 100px 20px 0 20px;

  .price-title {
    display: flex;
    align-items: center;
    justify-content: center;
    @include primary-colors;
    text-align: center;
    @include font-merriweather;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    position: relative;

    &:before,
    &:after {
      content: "";
      @include primary-colors;
      display: inline-block;
      margin: 0 10px;
      border-bottom: 2px solid #BDAE82;
      width: 15%;
    }
  }

  .price-items {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;

    .price-item {
      width: 450px;
      height: 505px;
      text-align: center;
      border: 3px solid #BDAE82;

      .price-item-title {
        padding-top: 43px;
        width: 100%;
        @include secondary-colors;
        text-align: center;
        @include font-merriweather;
        font-size: 28px;
        font-weight: 700;
        line-height: 56px;
      }

      .price-item-price {
        padding: 20px 0 20px 0;
        width: 100%;
        @include primary-colors;
        text-align: center;
        @include font-merriweather;
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
      }

      .price-item-text {
        width: 100%;
        padding: 20px 20px 0 20px;
        @include secondary-colors;
        text-align: center;
        @include font-inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
      }

      .price-item-btn {
        width: 100%;
        text-align: center;
        padding: 40px 30px 40px 30px;

        .price-btn {
          text-decoration: none;
          width: 220px;
          height: 55px;
          padding: 7.5px 0 7.5px 0;
          display: inline-block;
          background: #BDAE82;

          .price-btn-text {
            color: #000;
            text-align: center;
            @include font-inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;
            transition: color 0.2s linear;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

/* Contact section styles */
.contact {
  width: 100%;
  height: 100vh;
  background: url("../img/jpg/contactbg.jpg") center no-repeat;
  background-size: cover;

  .contact-container {
    width: 100%;
    padding: 5% 1% 10% 60%;

    .contact-title {
      width: 100%;
      @include primary-colors;
      @include font-merriweather;
      font-size: 40px;
      font-weight: 700;
      line-height: 80px;
      padding-bottom: 20px;
    }

    #email,
    #phone {
      width: 450px;
      height: 50px;
      padding-left: 15px;
      padding-right: 0;
      background: rgba(0, 0, 0, 0.5);
      border: 2px solid #BDAE82;
      @include primary-colors;
      @include font-inter;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;

      &::placeholder {
        color: #BDAE82;
      }
    }

    #message {
      width: 450px;
      height: 100px;
      padding: 10px 15px;
      background: rgba(0, 0, 0, 0.5);
      border: 2px solid #BDAE82;
      @include primary-colors;
      @include font-inter;
      font-size: 15px;
      font-weight: 400;
      min-height: 80px;
      margin-bottom: 20px;
      resize: none;

      &::placeholder {
        color: #BDAE82;
      }

      #message::placeholder {
        color: #BDAE82;
      }
    }

    .contact-btn {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 55px;
        padding: 7.5px 0 7.5px 0;
        background: #BDAE82;

        .contact-btn-text {
          color: #000;
          text-align: center;
          @include font-inter;
          font-size: 18px;
          font-weight: 200;
          line-height: 40px;
          transition: color 0.2s linear;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    background: black;

    .footer-inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 50px 20px 50px 20px;

      .copyright {
        display: flex;
        width: 20%;
        align-items: center;

        .copyright-text {
          padding-left: 0;
          padding-right: 20px;
          color: #FFF;
          @include font-inter;
          font-size: 20px;
          font-weight: 400;
          line-height: 50px;
        }
      }

      .about {
        display: flex;
        width: 210px;
        justify-content: center;
        color: #FFF;
        @include font-inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 50px;
      }

      .soc-links {
        display: flex;
        width: 20%;
        justify-content: space-between;
        align-items: center;
        padding: 9px 0;

        #inst-link:hover img {
          content: url("../img/svg/insthover.svg");
        }

        #fb-link:hover img {
          content: url("../img/svg/fbhover.svg");
        }

        #tw-link:hover img {
          content: url("../img/svg/twhover.svg");
        }

        #pinterest-link:hover img {
          content: url("../img/svg/pinteresthover.svg");
        }

        .logo img {
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }

        #inst-link img,
        #fb-link img,
        #tw-link img,
        #pinterest-link img {
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }